/Makefile
/pipp.pbc
/pipp_test_run.tar.gz
/src/common/php_ctype.pbc
/src/common/php_gmp.pbc
/src/common/php_pcre.pbc
/src/common/pipplib.pbc
/src/pct/gen_actions.pir
/src/pct/gen_grammar.pir
/src/pmc/lib-php_group.o
/src/pmc/php.c
/src/pmc/php.dump
/src/pmc/php.o
/src/pmc/php_group.c
/src/pmc/php_group.h
/src/pmc/php_group.so
/src/pmc/phparray.c
/src/pmc/phparray.dump
/src/pmc/phparray.o
/src/pmc/phpboolean.c
/src/pmc/phpboolean.dump
/src/pmc/phpboolean.o
/src/pmc/phpfloat.c
/src/pmc/phpfloat.dump
/src/pmc/phpfloat.o
/src/pmc/phpinteger.c
/src/pmc/phpinteger.dump
/src/pmc/phpinteger.o
/src/pmc/phpnull.c
/src/pmc/phpnull.dump
/src/pmc/phpnull.o
/src/pmc/phpresource.c
/src/pmc/phpresource.dump
/src/pmc/phpresource.o
/src/pmc/phpstring.c
/src/pmc/phpstring.dump
/src/pmc/phpstring.o
/src/pmc/pipp_hash.o
/src/pmc/pmc_php.h
/src/pmc/pmc_phparray.h
/src/pmc/pmc_phpboolean.h
/src/pmc/pmc_phpfloat.h
/src/pmc/pmc_phpinteger.h
/src/pmc/pmc_phpnull.h
/src/pmc/pmc_phpresource.h
/src/pmc/pmc_phpstring.h
/t/php/*.php
/t/php/*.out
