/Makefile

/pipp.pbc
/pipp
/pipp.c
/pipp.o
/pipp.obj
/pipp.exe
/pipp_test_run.tar.gz

*.patch

/src/pct/gen_*.pir

/src/pmc/Makefile
/src/pmc/php*.c
/src/pmc/pipp_group.c
/src/pmc/pipp_group.h
/src/pmc/php*.h
/src/pmc/pmc_php*.h
/src/pmc/*.bundle
/src/pmc/*.dll
/src/pmc/*.dump
/src/pmc/*.o
/src/pmc/*.obj
/src/pmc/*.pdb
/src/pmc/*.so

/t/php/*.php
/t/php/*.out
